body {
    background-color: white;
}

h1 {
    font-size: 52px;
    text-align: center;
}

.mkbhd-title {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    width: 350px;
    line-height: 35px;
}

.unicef-logo {
    vertical-align: middle;
    max-width: auto;
    max-height: 1.5em;
}

.shop-para {
    font-size: 20px;
    background-color: #fbfbfd;
    padding: 15px;
    text-align: center;
}
.shop a:visited {
    color: black;
}

.shop a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.shop a:active {
    color: purple;
}

.unicef-donate img {
    vertical-align: middle;
    max-width: auto;
    max-height: 1.5em;
}

.unicef-donate {  
    font-size: 20px;
    background-color: #fbfbfd;
    padding: 15px;
    text-align: center;
}

.unicef-donate a {
    color: rgb(10, 156, 214);
    text-decoration: none;
}

.unicef-donate a:hover {
    text-decoration: underline;
}

.unicef-donate a:active {
    color: purple;
}

.macbook-air {
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.supercharged-by {
    font-family: Arial;
    font-size: 25px;
    text-align: center;
}

.supercharged-by img {
    vertical-align: middle;
    max-width: auto;
    max-height: 25px;
    margin: 0px;
}

.learn-order {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: blue;
}

.buy-mac {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.sales-end {
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    color: rgb(180, 3, 3);
    text-align: center;
}

.stock {
    font-family: Arial;
    text-align: center;
    font-size: 20px;
}

.stock-top {
    font-size: 40px;
}

.stock-usd {
    color: grey;
}

.stock-middle {
    color: green;
}

.stock-bottom {

}

.stock-red {
    color: red;
}