.thumbnail {
    max-width: 300px;
    display: block;
}

.video-title {
    width: 300px;
}

.video-author, .video-stats {

} 

/* .ex1 {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}

button {
} */


